<!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-5 me-0">
        <div class="d-flex flex-column h-100">
            <a href="index.html" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <!-- config iconect
                        <img src="images/dino-logo.png" width="60" style="border-radius: 50%;">
                        -->
                    <img src="/images/dino-logo.png" width="60" style="border-radius: 50%;">
                </span>
                <!--
                    <span class="logo-text"><img src="https://www.iconect.net.br/img/logos/Identidade%20Visual%20Branca.png" width="100"></span>
                    -->
                <span class="logo-text"><img src="/images/logo-rextelecom.png" width="102"></span>
            </a>
            <!-- Menu: main ul -->
            <ul class="menu-list flex-grow-1 mt-3">
                <li class="collapsed">
                    <a class="m-link {{sidebarHome}}" href="/painel-agente">
                    <i class="icofont-home fs-5"></i> 
                    <span>Painel</span>
                    </a>                       
                </li>
                <li class="collapsed">
                    <a class="m-link {{sidebarConfig}}" href="/painel-agente/config">
                    <i class="icofont-settings-alt  fs-5"></i> 
                    <span>Configurações</span>
                    </a>                       
                </li>
                 <li class="collapsed">
                    <a class="m-link {{sidebarConfig}}" href="/painel-agente/config">
                    <i class="icofont-settings-alt  fs-5"></i> 
                    <span>Cadastro</span>
                    </a>                       
                </li>
            </ul>
            <!-- Theme: Switch Theme -->
            <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center justify-content-center">
                    <div class="form-check form-switch theme-switch">
                        <input class="form-check-input" type="checkbox" id="theme-switch">
                        <label class="form-check-label" for="theme-switch">Modo Escuro</label>
                    </div>
                </li>
            </ul>
            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
            <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>