<div id="mytask-layout" class="theme-indigo">
    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">
        <!-- Body: Header -->
      
        <!-- Body: Body -->
        <div class="body d-flex py-3">
        </div>
    </div>
</div>