<div id="mytask-layout" class="theme-indigo">
    <!-- sidebar -->
    {{> sidebarSupervisor}}
    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">
        <!-- Body: Header -->
        {{> header}}
        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body text-center p-5">
                            <div class="row g-3 mb-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 row-cols-xxl-4">
                                <div class="col">
                                    <div class="card bg-primary">
                                        <div class="card-body text-white d-flex align-items-center">
                                            <i class="icofont-chart-flow-1 fs-3"></i>
                                            <div class="d-flex flex-column ms-3">
                                                <h6 class="mb-0">GERAL</h6>
                                                <span class="text-white">12</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-primary">
                                        <div class="card-body text-white d-flex align-items-center">
                                            <i class="icofont-support fs-3"></i>
                                            <div class="d-flex flex-column ms-3">
                                                <h6 class="mb-0">ATENDIMENTO</h6>
                                                <span class="text-white">210</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-primary">
                                        <div class="card-body text-white d-flex align-items-center">
                                            <i class="icofont-robot fs-3"></i>
                                            <div class="d-flex flex-column ms-3">
                                                <h6 class="mb-0">ATEND. BOT</h6>
                                                <span class="text-white">88 Files</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card bg-primary">
                                        <div class="card-body text-white d-flex align-items-center">
                                            <i class="icofont-clock-time fs-3"></i>
                                            <div class="d-flex flex-column ms-3">
                                                <h6 class="mb-0">ESPERA</h6>
                                                <span class="text-white">8456 Files</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>